<table border="1">
    <thead></thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Login</th>
        <th>Senha</th>
        <th>Role</th>
      </tr>
    
    <tbody>
        <tr *ngFor="let account of accounts">
            <td>{{accounts.id}}</td>
            <td>{{accounts.nome}}</td>
            <td>{{accounts.login}}</td>
            <td>{{accounts.email}}</td>
            <td>{{accounts.senha}}</td>
            <td>{{accounts.role}}</td>
            </tr>
    </tbody>
      </table>